#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}


body{
    margin: auto;
    background-color: lightblue;
}

h1{
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: red;
}

p.portfolio_text{
    text-align: center;
    border: medium dotted red;
    border-radius: 5px;
    background-color: lightgrey;
  
}

p.desc{
    text-align: center;
    border-style: double;
    border-width: thin;
    border-color: green;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}