#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}


body{
    background-color: lightblue;
    margin: auto;
}


h1{
    border-style: solid;
    border-width: medium;
    border-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
    font-weight:normal;
    font-size:24px;
    padding-top: 60px;
    text-align: center;
}

p.portfolio_text{
    background-color: lightgrey;
    border: medium dotted red;
    border-radius: 5px;
    text-align: center;
}

p.randomMsg_text{
    background-color: lightgrey;
    border: medium dotted red;
    border-radius: 5px;
    text-align: center;
}

p.desc{
    border-style: double;
    border-width: thin;
    border-color: green;
    text-align: center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}